<%= link_to 'Créer un nouvel article', new_article_path %>
 
<div id="main_col"> 
  <% @articles.each do |article| %>

    <div class="article_title"><%=article.title %></div>
    <div class="article_text"><%= article.text %></div>
    <div class="options">
    <%= link_to 'Show', article_path(article) %>
    <%= link_to 'Edit', edit_article_path(article) %>
    <%= link_to 'Destroy', article_path(article),
            method: :delete,
            data: { confirm: 'Are you sure?' } %>
    </div>

    <% end %>
</div>
